<!-- contact.html -->
    <div class="jumbotron text-center">
        <h1>Contact</h1>


        <p>Leonard Marineau-Quintal</p>
        <a href="mailto:leonardquintal@gmail.com?Subject=Inquiry" target="_top">leonardquintal@gmail.com</a>
        <br>
        
        <a href="https://www.linkedin.com/in/leoquint/"><i class="fa fa fa-linkedin fa-5x" aria-hidden="true"></i></a>
        <a href="https://github.com/LeoQuint"><i class="fa fa-github fa-5x" style="color: black;" aria-hidden="true"></i></a>
        <br>
        <a href="https://leoquint.itch.io/"><img style="height: 81px;width: 203px;" src="../images/itch.png"></a>

    </div>