
<div class="jumbotron text-center">
    <h1>Fly</h1>
    <p>Jam Nation entry</p>
    <img src="{{imageSRC}}"  style=" width: 50%; height:50%;">
    
    <p>The final result</p>

    <div style=" width: 50%; height:50%; margin: auto;">
	    <div class="videoWrapper">
	    	<iframe src="https://player.vimeo.com/video/225308993" width="50%" height="auto" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
	    </div>
    </div>



    <p>Try it on <a href="https://momentfactory.itch.io/fly" target="_blank"><p>itch.io</p> </a> (Requires 2 Myo controllers)</p>
    </a>
  
</div>
