<!-- home.html -->
    <div class="jumbotron text-center">
    	<div class="container-fluid">
	  		<h1>Games</h1>

		  	<div class="row">			    
			    <div class="col-sm-4 roundedCTN" >
			    	<div class="innerCTN">
			    		<h5>Fly</h5>
				    	<a href="#/fly">
				    		<img class="cartridge" src="/images/home/Fly.png">
				    	</a>
			    	</div>
			    </div>

			    <div class="col-sm-4 roundedCTN" >
			    	<div class="innerCTN">
			    	<h5>CommunAbility</h5>
					    <a href="#/communability">
					    	<img class="cartridge" src="/images/home/Communability.png">
					    </a>
				    </div>
			    </div>
			     <div class="col-sm-4 roundedCTN" >
				     <div class="innerCTN">
				     <h5>Sandwich Hero</h5>
					    <a href="#/sandwichhero">
					    	<img class="cartridge" src="/images/home/SandwichHero.png">
					    </a>
				    </div>
			    </div>	
	   		</div>
		  	<div class="row">

			    
			    <div class="col-sm-4 roundedCTN" >
				    <div class="innerCTN">
				    <h5>Proto</h5>
				    	<a href="#/proto">
				    		<img class="cartridge" src="/images/home/Proto.png">
				    	</a>
			    	</div>
			    </div>
			    <div class="col-sm-4 roundedCTN" >
				    <div class="innerCTN">
				    <h5>Fight or Flight</h5>
					    <a href="#/fightorflight">
					    	<img class="cartridge" src="/images/home/FOF.png">
					    </a>
				    </div>
			    </div>
			     <div class="col-sm-4 roundedCTN" >
				     <div class="innerCTN">
				     <h5>You Mech me Crazy</h5>
					    <a href="#/youmech">
					    	<img class="cartridge" src="/images/home/YMMC.png">
					    </a>
				    </div>
			    </div>
		  	</div>

		  	<div class="row">
			    
			    <div class="col-sm-4 offset-sm-1 roundedCTN" >
				    <div class="innerCTN">
				    <h5>Capital Guess</h5>
				   		<a href="#/capitalguess">
				    		<img class="cartridge" src="/images/home/CapitalGuess.png">
				    	</a>
			    	</div>
			    </div>	   
			    <div class="col-sm-4 offset-sm-2 roundedCTN" >
				    <div class="innerCTN">
				    <h5>Contacts</h5>
					    <a href="#/contact">
					    	<img class="cartridge" src="/images/home/contact.png">
					    </a>
				    </div>
			    </div>

			</div>
    </div>