<!-- fof.html -->
    <div class="jumbotron text-center">
        <h1>You Mech Me Crazy</h1>
        <p>Two player co-op puzzle game.</p>
       
       <img src="{{imageSRC}}" width="50%" height="50%">

        <p><a href="http://torontodigifest.ca/2016/best-of-the-best-student-showcase/">Digifest 2016 - Game Design Winner</a></p>
        <p>Level Up 2016 - 2nd Place: Overall Game Design</p>
        <p>Level Up 2016 - 2nd Place: People’s Choice award</p>
        <a href="https://leoquint.itch.io/you-mech-me-crazy"><p>itch.io</p> </a>    
    </div>